[Desktop Entry]
Encoding=UTF-8
Name=Link to Sprite check2.png
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=e537674572&attid=0.1&permmsgid=msg-a:r-2351316376268493518&th=19658c30b2eaa2f0&view=fimg&fur=ip&permmsgid=msg-a:r-2351316376268493518&sz=s0-l75-ft&attbid=ANGjdJ84TD8YE6OB1DiIDgaCsLCjp1aymJgbGhG4V70vHO9Id4rcTbjvIqttPUJgj6NEX1baasofvxl6WRIUuZTzzO-65HoeICeJjvE3aPZEgJ5uWbCymncAZ5lwFOk&disp=emb&realattid=ii_m9r6cdew0&zw
Icon=text-html
